// ESTILOS PARA PAGINA INICIO

.eslogan {
    background-image: url(../img/imagenone.jpeg);
    width: auto;
    padding: 15%;
    text-align: center;
    color: map-get($map:$paleta, $key:secundario);
    font-size: 20px;
    font-style: italic;
}

@keyframes animacionInicio {
    0% {background-color: map-get($map:$paleta, $key:quinto)};
    20% {background-color: map-get($map:$paleta, $key:cuarto)};
    40% {background-color: map-get($map:$paleta, $key:sexto)};
    70% {background-color: map-get($map:$paleta, $key:cuarto)};
    100% {background-color: map-get($map:$paleta, $key:quinto)};
}

.menuinicio {
  background-color: map-get($map:$paleta, $key:quinto);
  width: 50%;
  position: absolute;
  top: 100%;
  left: 45%;
  animation: animacionInicio 4s linear 0s infinite;

  li a {
    color: map-get($map: $paleta, $key:primario );
    text-decoration: none;
     }    
}



.menu2 {
    display: grid;
    grid-template-areas: 
    "item1 item2"
    "item3 item4";
    justify-items: center;
    grid-template-rows: 250px 250px;
    align-items: center;
    list-style: none;
    border: 6px solid map-get($map: $paleta, $key:cuarto );

//MIXIN

    @mixin iteem ($item){
    grid-area: $item;
    }
    

    .item1 {
    @include iteem(item1)
     }

    .item2 {
    @include iteem(item2)
     }

    .item3 {
    @include iteem(item3)
     }

     .item4 {
    @include iteem(item4)
     }
}

.parrafo1{
  color: map-get($map:$paleta, $key:secundario);
  font-size: 30px;
  position: absolute;
  top: 100%;
  left: 1%;
  font-weight: 900;
  font-style: italic;

  p {
    display: grid;
    grid-template-columns: 40%;
     }

}

footer {
    background-color: map-get($map:$paleta, $key:tercirio);
    color: map-get($map:$paleta, $key:secundario);
    position: absolute;
    top: 190%;
    padding: 10px;
    text-align: center;
    font-weight: 900;
}

/*MEDIA PARA PAGINA INICIO */

@media (max-width: 425px) {
    div footer{
        position: absolute;
        top: 50%;
    }
}


@media (max-width: 768px) {
    .menu{
      font-size: 0px;
      position: absolute;
      top: -10%;
    }
    
    .eslogan{
        font-size: 10px;
    }
    
    .menuinicio{
        position: absolute;
        top: 42%;
        left: 0%;
        width: 100%;
    }
    
    .parrafo1{
        font-size: 20px;
        position: absolute;
        top: 135%;
    }

    .parrafo1 p{
        display: grid;
        grid-template-columns: 99%;
    }

    div footer{
        @extend .divfooter;
        top: 190%;
    }
}

@media (max-width: 1024px) {
    div footer{
        @extend .divfooter;
        top: 250%;
    }
}

// MAPS 

$paleta: (
    primario: white,
    secundario: #222A59,
    tercirio: #A8ACBF,
    cuarto: #731414,
    quinto: #A61C1C,
    sexto:  #8C2029, 
);